.alt-header {
  padding: $horizontal-space;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;

  .alt-header__title {
    font-size: 26px;
    font-weight: 600;
  }
  
  .alt-header__column {
    width: 33%;

    &:first-child {
      margin-right: auto;
      display: flex;
      justify-content: flex-start;
    }
    &:nth-child(2) {
      display: flex;
      justify-content: center;
    }

    &:last-child {
      margin-left: auto;
      display: flex;
      justify-content: flex-end;
    }

    span {
      &:last-child {
        margin-left: 15px;
      }
    }
  }
}

