header {
  margin-top: 20px;
}

.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $horizontal-space;
  margin-bottom: 10px;
}

.screen-header__title {
  font-size: 28px;
  font-weight: 600;
}

.screen-header__icons {
  span {
    margin-left: 25px;
  }
}
