.status-bar {
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 5px 3px;
  position: fixed;
  top: 0;
  width: 100%;
  font-weight: 600;
}

.status-bar__column {
  width: 33%;
  &:first-child {
    span {
      margin-right: 5px;
    }
  }
  &:nth-child(2) {
    display: flex;
    justify-content: center;
  }
  &:last-child {
    display: flex;
    justify-content: flex-end;
    .fa-battery-full {
      margin: 0px 5px;
    }
  }
}
