.user-component {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-component__column {
  &:first-child {
    display: flex;
    align-items: center;
  }
  &:last-child {
    color: rgba($color: #000000, $alpha: 0.5);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 40%;
  margin-right: 20px;
}

.user-component__avatar--xl {
  width: 80px;
  height: 80px;
}
.user-component__avatar--sm {
  width: 60px;
  height: 60px;
}

.user-component__title {
  font-weight: 600;
  font-size: 22px;
}

.user-component__title--not-bold {
  font-weight: 400;
  font-size: 18px;
}

.user-component__subtitle {
  margin-top: 5px;
  font-size: 17px;
  color: rgba($color: #000000, $alpha: 0.4);
}

.user-component__time {
  margin-bottom: 10px;
  display: block;
}
