#chat-screen {
  .status-bar {
    background-color: #abc1d1;
  }
}

#chat-screen {
  background-color: #abc1d1;
  height: 1100vh;
}

#chat-screen .alt-header {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: #abc1d1;
  box-sizing: border-box;
}

.main-chat {
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  align-items: center;
}

.chat-timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 15px;
  border-radius: 25px;
  margin-bottom: 2rem;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 1.5rem;

  img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 40%;
    margin-right: 0.8rem;
  }

  .message__author {
    opacity: 0.8;
    font-size: 1.1rem;
    margin-bottom: 0.6rem;
    display: block;
  }

  .message__info {
    display: flex;
    align-items: flex-end;

    .message_bubble {
      font-size: 1.1rem;
      background-color: white;
      padding: 0.6rem 0.7rem;
      border-radius: 0.8rem;
      border-top-left-radius: 0px;
      margin-right: 0.3rem;
    }

    .message_time {
      opacity: 0.8;
      font-size: 0.8rem;
    }
  }
}

.message-row--own {
  justify-content: flex-end;

  .message__info {
    flex-direction: row-reverse;

    .message_bubble {
      background-color: $yellow;
      border-top-left-radius: 0.8rem;
      border-top-right-radius: 0px;
      margin-left: 0.3rem;
    }
  }
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display : flex;
  justify-content: space-between;
  padding: 0.4rem 1rem;
  box-sizing: border-box;
  align-items: center;

  i {
    opacity: 0.5;
  }

  .reply__column {
    &:first-child {
      width: 6%;
    }

    &:last-child {
      width: 94%;
      position: relative;

      &>i, button {
        position: absolute;
        right: 0;
        top: 0.7rem;
      }

      &>i {
        right: 2.3rem;
      }

      button {
        top: 0.2rem;
        right: 0.2rem;
        background-color: $yellow;
        border: none;
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        &:focus, &:active {
          outline: none;
        }
        i {
          opacity: 1;
        }
      }
    }
  }

  input {
    padding: 0.7rem;
    width: 100%;
    border: $main-border;
    border-radius: 1.2rem;
    box-sizing: border-box;
  }
}

