#chat-screen {
  .status-bar {
    background-color: #abc1d1;
  }
}

#chat-screen {
  background-color: #abc1d1;
  height: 1100vh;
}

#chat-screen .alt-header {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: #abc1d1;
  box-sizing: border-box;
}

.main-chat {
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  align-items: center;
}

.chat-timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 15px;
  border-radius: 25px;
}

