.find-icons {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);

  .find-icons__icon {
    display: flex;
    flex-direction: column;
    align-items: center;

    i {
      font-size: 30px;
    }

    span {
      margin-top: 15px;
    }
  }
}

