#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px 0;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top : -15px;
  i {
    color: rgba($color: #000000, $alpha: 0.3);
  }
  span {
    padding: 0px 7px;
  }
}

.friends-screen {
  padding: 0 $horizontal-space;
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: $main-border;
  padding-top: 15px;
}

.friends-screen__channel__header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: rgba($color: #000000, $alpha: 0.5);
}
