#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px 0;
  font-size: 16px;
  i {
    color: rgba($color: #000000, $alpha: 0.3);
  }
  span {
    padding: 0px 7px;
  }
}
