.settings__setting {
  padding: 20px 0;
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1); 
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  i {
    margin-right: 15px;
    opacity: 0.8;
  }

  .settings__setting-column {
    &:last-child {
      opacity: 0.5;
    }
  }
}


