title 카카오톡 UI 
meta(charset="UTF-8")
meta(name="author" content="frontend16")
meta(name="description" content="Wep APP 설명")
meta(
    name="viewport"
    content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, minimum-scale=1"
)
meta(http-equiv="X-UA-Compatible" content="ie-edge")

// http://ogp.me/
<meta property="og:type" content="website" />
<meta property="og:title" content="" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<meta property="og:url" content="" />

// favicon 
// link(rel="icon" type="image/x-icon" href="img/favicon.ico")
// link(rel="apple-touch-icon" href="img/favicon.png")
