doctype html

html(lang="ko")
    head
        block head
    body 
        include ../partials/status-bar.pug
        block header
        block content 
        block footer
        block script
            //-script(src="js/main.js")
