div.status-bar
    div.status-bar__column
        span No Service 
        i(class="fa-solid fa-wifi")
        // To Do wifi Icon
    div.status-bar__column
        span 18:43
    div.status-bar__column
        span 110%
        i(class="fa-solid fa-battery-full")
        i(class="fa-solid fa-bolt-lightning")    

