doctype html

html(lang="ko")
    head
        include template/head.pug
        title Chat - kakao Clone 

    body#chat-screen
        include partials/status-bar.pug
        block header
            header.alt-header
                .alt-header__column
                    a(href="chats.html")
                        i(class="fa-solid fa-angle-left fa-lg")
                .alt-header__column
                    h1.alt-header__title Frontend16  
                .alt-header__column 
                    span 
                        i(class="fa-solid fa-magnifying-glass fa-lg")
                    span
                        i(class="fa-solid fa-bars fa-lg")

        block content 
            main.main-screen.main-chat
                .chat-timestamp Tusday, June 30, 2023
                .message-row 
                    img(src="img/kakao_ch.png")
                    .message-row__content 
                        span.message__author Kakao Talk 
                        .message__info 
                            span.message_bubble Hi!! 
                            span.message_time 21:27
                .message-row.message-row--own  
                    .message-row__content 
                        .message__info 
                            span.message_bubble Hi nice to meet you! 
                            span.message_time 21:27
            form.reply 
                .reply__column 
                    i(class="fa-regular fa-square-plus fa-lg")
                .reply__column 
                    input(type="text" placeholder="Write a message...")
                    i(class="fa-regular fa-face-smile")
                    button 
                        i(class="fa-solid fa-arrow-up")
            #no-mobile 
                span Your Screen is too big 
        block footer

        block script
            script(src="https://kit.fontawesome.com/7489903411.js" crossorigin="anonymous")
