extends template/layout 

block head
    include template/head.pug
    title Find - kakao Clone 

block header
    header.screen-header
        h1.screen-header__title Find 
        .screen-header__icons
            span
                i(class="fa-solid fa-magnifying-glass fa-lg")
            span
                i(class="fa-solid fa-gear fa-lg")

block content 
    main.main-screen   
        .icon-row 
            .icon-row__icon
                i(class="fas fa-qrcode") 
                span QR Code 
            .icon-row__icon
                i(class="fa-regular fa-address-book")
                span Add by Contacts  
            .icon-row__icon
                i(class="fa-solid fa-fingerprint")
                span Add by ID 
            .icon-row__icon 
                i(class="fa-regular fa-envelope")
                span Invite 
        .recommended-friends 
            h6.recommended-friends__title Recommended Friends      
            span.recommended-friends__friends-list You have no recommended friends. 
        .open-chat 
            .open-chat__header    
                h4 Open Chat 
                span Go to Openchat Home 
                    i.fa-solid.fa-chevron-right.fa-xs
            .open-post 
                .open-post__column 
                    h5.open-post__title #BTS
                    h6.open-post__hashtags #bts#army#friends 
                    .open-post__members
                        img(src="https://avatars.githubusercontent.com/u/6349003?v=4")
                        span.open-post__member-count 802 members 
                        span.divider
                        span.open-post__member-status Active  

                .open-post__column 
                    .open-post__photo 
                        img(src="https://avatars.githubusercontent.com/u/6349003?v=4") 
                        .open-post__heart-count 
                            i(class="fa-solid fa-heart fa-xs") 
                            span 326

    //- nav-bar.scss
    nav.nav 
        ul.nav__list
            li.nav__btn
                a.nav__link(href="friends.html")
                    i(class="fa-regular fa-user fa-xl")
            li.nav__btn
                a.nav__link(href="chats.html")
                    i(class="fa-regular fa-comment fa-xl")
            li.nav__btn 
                a.nav__link(href="find.html")
                    i(class="fa-solid fa-magnifying-glass fa-xl")
            li.nav__btn
                a.nav__link(href="more.html")
                    i(class="fa-solid fa-ellipsis fa-xl")

block footer

block script
    script(src="https://kit.fontawesome.com/7489903411.js" crossorigin="anonymous")
