extends template/layout 

block head
    include template/head.pug
    title Friends - kakao Clone 

block header
    header.screen-header
        h1.screen-header__title Friends
        .screen-header__icons
            span
                i(class="fa-solid fa-magnifying-glass fa-lg")
            span
                i(class="fa-solid fa-music fa-lg")
            span
                i(class="fa-solid fa-gear fa-lg")

block content 
    a#friends-display-link
        i(class="fa-solid fa-circle-info")
        span Friends's Names Display
        i.fa-solid.fa-chevron-right.fa-xs

    main.friends-screen
        //- user-component.scss
        .user-component
            div.user-component__column
                img.user-component__avatar.user-component__avatar--xl(src="img/profile.png")
                .user-component__text
                    h4.user-component__title
                        span Frontend16
                    //- h6.user-component__subtitle
                    //-     span this text test
            div.user-component__column 
        .friends-screen__channel    
            .friends-screen__channel__header 
                span Channel
                span 
                    i.fa-solid.fa-chevron-up.fa-xs
        .user-component
            div.user-component__column
                img.user-component__avatar.user-component__avatar--sm(src="img/kakao_ch.png")
                .user-component__text
                    h4.user-component__title.user-component__title--not-bold  
                        span Channel
                    //- h6.user-component__subtitle
                    //-     span this text test
            div.user-component__column
                span 2
                i.fa-solid.fa-chevron-right.fa-xs

    //- nav-bar.scss
    nav.nav
        ul.nav__list
            li.nav__btn
                a.nav__link(href="friends.html")
                    i(class="fa-solid fa-user fa-xl")
            li.nav__btn
                a.nav__link(href="#")
                    span.nav__notification 1
                    i(class="fa-regular fa-comment fa-xl")
            li.nav__btn
                a.nav__link(href="#")
                    i(class="fa-solid fa-magnifying-glass fa-xl")
            li.nav__btn
                a.nav__link(href="#")
                    i(class="fa-solid fa-ellipsis fa-xl")

block footer

block script
    script(src="https://kit.fontawesome.com/7489903411.js" crossorigin="anonymous")
