extends template/layout 

block head
    include template/head.pug
    title Setting - kakao Clone 

block header
    header.alt-header
        .alt-header__column
            a(href="more.html")
                i(class="fa-solid fa-angle-left fa-2x")
        .alt-header__column
            h1.alt-header__title Settings  
        .alt-header__column 
            i(class="fa-solid fa-magnifying-glass fa-2x")

block content 
    main.main-screen
        ul.settings-list 
            li.settings__setting
                .settings__setting-column 
                    i(class="fa-solid fa-bullhorn")
                    span Notices 
                .settings__setting-column                 
            li.settings__setting
                .settings__setting-column 
                    i(class="fa-solid fa-flask")
                    span KaKao Lab 
                .settings__setting-column                     
            li.settings__setting
                .settings__setting-column 
                    i(class="fa-solid fa-circle-info")
                    span Version           
                .settings__setting-column Latest Version        

    //- nav-bar.scss
    nav.nav 
        ul.nav__list
            li.nav__btn
                a.nav__link(href="friends.html")
                    i(class="fa-regular fa-user fa-xl")
            li.nav__btn
                a.nav__link(href="chats.html")
                    i(class="fa-regular fa-comment fa-xl")
            li.nav__btn 
                a.nav__link(href="find.html")
                    i(class="fa-solid fa-magnifying-glass fa-xl")
            li.nav__btn
                a.nav__link(href="more.html")
                    i(class="fa-solid fa-ellipsis fa-xl")

block footer

block script
    script(src="https://kit.fontawesome.com/7489903411.js" crossorigin="anonymous")
